---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';
import styles from './Hero.module.css';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
} = Astro.props;
---

<section
  class="relative not-prose h-screen min-h-screen flex flex-col justify-center overflow-hidden"
  {...id ? { id } : {}}
  data-hero-section
>
  <div class="absolute inset-0 z-0" aria-hidden="true">
    <slot name="bg" />
  </div>
  <div class={styles.heroInner + ' relative z-10 pointer-events-none'}>
    <div class="py-16 md:py-[80px]">
      <div class={styles.heroBody}>
        {tagline && <p class="text-base text-secondary font-bold tracking-wide uppercase " set:html={tagline} />}
        {
          title && (
            <h1 class={`${styles.heroHeading} font-heading leading-tighter tracking-tighter `} set:html={title} />
          )
        }
        <div class="max-w-3xl mx-auto">
          {subtitle && <p class={`${styles.heroSubtitle} text-neutral `} set:html={subtitle} />}
          {
            actions && (
              <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 ">
                {Array.isArray(actions) ? (
                  actions.map((action) => (
                    <div class="flex w-full sm:w-auto">
                      <Button {...(action || {})} class="w-full sm:mb-0" />
                    </div>
                  ))
                ) : (
                  <Fragment set:html={actions} />
                )}
              </div>
            )
          }
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      {
        image && (
          <div class="    ">
            <div class="relative m-auto max-w-5xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="mx-auto rounded-md w-full"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  loading="eager"
                  fetchpriority="high"
                  width={1024}
                  height={576}
                  format="webp"
                  {...image}
                />
              )}
            </div>
          </div>
        )
      }
    </div>
  </div>
</section>
